.flexbin {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin: -2.5px; 
}

.flexbin > figure {
    margin: 2.5px;
}
    .flexbin > figure img {
      height: 170px;
      max-width: 100%;
      vertical-align: bottom; 
    }
  .flexbin.flexbin-margin {
    margin: 2.5px; }
  @media (max-width: 980px) {
    .flexbin > figure img {
          height: 140px;
          object-fit: cover;
           }
 }
@media (max-width: 400px) {

        .flexbin > figure img {
          height: 100px;
          object-fit: cover;
           }
 }