<h3>In future versions</h3>
<div>

    <ul>
        <li>
            Major new features:
            <ul>
                <li>Downvote posts</li>
                <li>Post new comments/replies in the comment section</li>
                <li>Submit new posts</li>
                <li>Option to download the comments and/or the content (webpage) of the post</li>
            </ul>
        </li>
        <li>
            Other improvements: 
            <ul>
                <li>Swipe to fold comments</li>
                <li>Add an option (on the "appearance" page) to change the font-size (news titles, comments content, ...)</li>
                <li>Support for Pocket</li>
                <li>Show disk space used by saved items in "Stats"</li>
                <li>Bug fixes: 
                    <ul>
                        <li>A tap on the top of a comment on the user page (list of comments posted by the user) should lead to the original discussion.</li>
                    </ul>
                </li>
            </ul>
        </li>
        
        
    </ul>
</div>