<h3>v 1.0.1 - Feb 7, 2018</h3>
<div class="col-md-12">
    <div class="version-summary-card col-xs-6">
        <div class="version-summary-card-title">
            <span class="icon">
                <i class="icon-fix"></i>
            </span>
            
            <h3>Fix bugs</h3>
        </div>
        <p>
            Quick update to fix some minor, but yet annoying, bugs.
        </p>
    </div>
</div>

<div class="col-md-12"> 
    <div>
        <ul><li>Improvements: 
        <ul>
            <li>
                The comments of the noob users are now marked with a green username
            </li>
            <li>
                When expanded, the comments are automatically moved to make the replies visible
            </li>
        </ul></li>
        <li>Bug fixes: 
        <ul>
            <li>
                Upvote askHN posts on the comment view
            </li>
            <li>
                Correctly show the username of noob users
            </li>
            <li>
                Other minor bug fixes
            </li>
        </ul></li>
    </div>
    
</div>