<h3>v 1.1.0 - (In Review)</h3>
<div class="col-md-12">
    
    <div class="version-summary-card col-xs-6">
        <div class="version-summary-card-title">
            <span class="icon">
                <i class="icon-themes"></i>
            </span>
            
            <h3>New themes</h3>
        </div>
        <p>
            You can chose between several new themes and mark them as your preferred light/dark theme to replace the default ones.
        </p>
    </div>
    <div class="version-summary-card col-xs-6">
        <div class="version-summary-card-title">
            <span class="icon">
                <i class="icon-options"></i>
            </span>
            
            <h3>More options</h3>
        </div>
        <p>
            The <a href="#&gid=1&pid=preferences" class="img-opener-link">"preferences" page</a> was rebuilt from scratch to add several new options: expand discussions by default, disable the reader by default, ... 
            <!--What else could you want? (No but seriously, <a href="mailto:contact@hnbuddy.io">tell me</a>.)-->
        </p>
    </div>
    <div class="version-summary-card col-xs-6">
        <div class="version-summary-card-title">
            <span class="icon">
                <i class="icon-fix"></i>
            </span>
            
            <h3>Fix bugs</h3>
        </div>
        <p>
            Fixed several bugs on the "Lists" tab.
        </p>
    </div>
</div>
<div class="col-md-12">

    <ul>
        <li>2 new themes: <a class="img-opener-link" href="#&gid=1&pid=readerDarkTheme">Reader Dark</a> and <a class="img-opener-link" href="#&gid=1&pid=readerLightTheme">Reader Light</a>. You can select your preferred light and dark themes. You can then manually switch between them or let the app pick the right one for you.</li>
        <li>New list layout style: <a class="img-opener-link" href="#&gid=1&pid=denseLayout">dense layout</a>. You can choose the default style in the options or switch between them manually using  the toggle switch on the top of the news list on the home page.</li>
        <li>New contribution guide + <a class="img-opener-link" href="#&gid=1&pid=contactForm">contact form</a></li>
        <li>
            New options:
            <ul>
                <li>Disable the automatic reader, open directly the webpage instead</li>
                <li>Expand all the comments/replies by default</li>
                <li>Disable the rearrangement of the comment section when a comment is expanded: by default the comment section is scrolled to make the first reply visible.</li>
            </ul>
        </li>

        <li>
            Bug fixes: 
            <ul>
                <li>Cut text on the login form</li>
                <li>Empty state placeholder that wasn't disappearing in the "Submissions" list</li>
                <li>Fixed sort filters in the lists (they didn't work)</li>
                <li>Load more than 30 bookmarks & recently read news (in the lists)</li>
            </ul>
        </li>
    </ul>
</div>
<div class="col-md-12">
    <div class="img-gallery flexbin flexbin-margin" itemscope itemtype="http://schema.org/ImageGallery" data-pswp-uid="0">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="img/v1.1.0/appearance.png" itemprop="contentUrl" data-size="750x1334">
                <img src="img/v1.1.0/appearance_mini.png" itemprop="thumbnail" alt="New 'appearance' page" data-pswp-pid="appearance"/>
            </a>
            <figcaption itemprop="caption description">New "appearance" page</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="img/v1.1.0/contactForm.png" itemprop="contentUrl" data-size="750x1334">
                <img src="img/v1.1.0/contactForm_mini.png" itemprop="thumbnail" alt="New embedded contact form" data-pswp-pid="contactForm"/>
            </a>
            <figcaption itemprop="caption description">New embedded contact form</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="img/v1.1.0/preferences.png" itemprop="contentUrl" data-size="750x1334">
                <img src="img/v1.1.0/preferences_mini.png" itemprop="thumbnail" alt="'Preferences' rebuilt from scratch" data-pswp-pid="preferences"/>
            </a>
            <figcaption itemprop="caption description">"Preferences" rebuilt from scratch</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="img/v1.1.0/readerDarkTheme.png" itemprop="contentUrl" data-size="750x1334">
                <img src="img/v1.1.0/readerDarkTheme_mini.png" itemprop="thumbnail" alt="New theme: 'Reader Dark'" data-pswp-pid="readerDarkTheme"/>
            </a>
            <figcaption itemprop="caption description">New theme: "Reader Dark"</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="img/v1.1.0/denseLayout.png" itemprop="contentUrl" data-size="750x1334">
                <img src="img/v1.1.0/denseLayout_mini.png" itemprop="thumbnail" alt="New 'dense' layout" data-pswp-pid="denseLayout"/>
            </a>
            <figcaption itemprop="caption description">New "dense" layout</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="img/v1.1.0/readerLightTheme.png" itemprop="contentUrl" data-size="750x1334">
                <img src="img/v1.1.0/readerLightTheme_mini.png" itemprop="thumbnail" alt="New theme: 'Reader Light'" data-pswp-pid="readerLightTheme"/>
            </a>
            <figcaption itemprop="caption description">New theme: "Reader Light"</figcaption>
        </figure>


    </div>
</div>