<script type="text/javascript">
console.log(`%c  _    _          _   _             _     _                            _ 
 | |  | |        | | | |           | |   | |                          | |
 | |__| |   ___  | | | |   ___     | |_  | |__     ___   _ __    ___  | |
 |  __  |  / _ \\ | | | |  / _ \\    | __| | '_ \\   / _ \\ | '__|  / _ \\ | |
 | |  | | |  __/ | | | | | (_) |   | |_  | | | | |  __/ | |    |  __/ |_|
 |_|  |_|  \\___| |_| |_|  \\___/     \\__| |_| |_|  \\___| |_|     \\___| (_)
                                                                         
                                                                         
`, "font-family:monospace");
            console.log("If you're here you may be interested in the github repo of the website: https://www.github.com. It contains all the resources used to build this page :)"); 
</script>
        