<div class="row">
    <div class="col-lg-6 col-md-7 col-lg-offset-1 col-xs-12 intro">
        <h1>Yet another Hacker News client for iOS</h1>
        <h2>Simple, fast, intuitive and elegant. HNBuddy will make your browsing experience precisely as good as its developer's programming skills permit it to be!</h2>
        <a href="https://itunes.apple.com/us/app/hnbuddy-hackernews-client/id1312439587?mt=8" target="_blank"><img src="img/appstore-button.png" data-rjs="3"></a>
    </div>
    <div class="col-lg-5 col-md-5  col-xs-12 phone">
        <img src="img/heroImage.png" data-rjs="3">
    </div>
</div>