body {
	font-size: 16px;
}

.side-menu ul {
	list-style: none;
	padding-left: 0;
}

section section {
	padding-bottom: 60px;
}

a.img-opener-link {
	border-bottom: 1px dashed;
}
a.img-opener-link:hover {
	color: #337ab7;
	text-decoration: none;
}

.version-summary-card {
	margin-bottom: 20px;
}
.version-summary-card h3 {
	display: inline-block;
	font-weight: 400;
	font-size: 25px;
}
.version-summary-card .icon {
	margin-right: 10px;
}
.version-summary-card .icon i {
	color: orange;
	font-size: 37px;
}
.version-summary-card .icon i::before {
	vertical-align: middle ;
}

.version-summary-card-title {
	margin-bottom: 6px;
}

.version-summary-card p {
	margin-left: 40px;
}



.log-entry {
	margin-left: 30px;
}

li {
	margin-top: 6px;
}
li:last-child {
	margin-bottom: 18px;
}


@media (max-width: 992px) {
  	.side-menu {
    	text-align: center; 
	}

}

/*
	Gallery
*/


.img-gallery figcaption {
	display: none;
	visibility: hidden;
}










