{% extends "templates/abstractPage.html" %}



{% block body %}

    <script>
        /* Js dependent animations*/
        document.write(`<style>.scroll-apparence {
            opacity: 0;
            -webkit-transition: -webkit-transform .8s ease-out;
            -ms-transition: -ms-transform .8s ease-out;
            transition: transform .8s ease-out;
        }


        .appear-from-bottom {
            -ms-transform: translate(0px, 200px); /* IE 9 */
            -webkit-transform: translate(0px, 200px); /* Safari */
            transform: translate(0px, 200px);
        }
        .appear-from-left {
            -ms-transform: translate(-200px, 0px); /* IE 9 */
            -webkit-transform: translate(-200px, 0px); /* Safari */
            transform: translate(-200px, 0px);
        }
        .appear-from-right {
            right: -200px;
        }</style>`);
    </script>
    {% set headerContentTemplateName = "templates/headers/mainHeader.html" %}
    {% include "templates/header.html" %}
    <section id="lists-section">
        <div class="container">
            <div class="row bottom-separator">
                <div class="col-sm-5 col-sm-offset-1 col-sm-push-5 section-description">
                    <img src="img/actions.png" alt="Actions" class="hidden-xs">
                    <h2>
                        Offline bookmarks
                    </h2>
                    <p>
                        Save the posts you want to read later, even for offline reading.
                    </p>
                    <p>
                        Keep track of all the posts you read and manage your favorites.
                    </p>
                </div>
                <div class="col-sm-4 col-sm-offset-1 col-sm-pull-6 iphone-image scroll-apparence appear-from-bottom">
                    <img src="img/lists.png" data-rjs="3">
                </div>
                
                
            </div>
        </div>
    </section>
    <section id="comments-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 section-description">
                    <img src="img/comments.svg" alt="CommentsIcon" class="hidden-xs">
                    <h2>
                        Expandable, rich discussion threads
                    </h2>
                    <p>
                        Browse all the discussions in an efficient and pleasant way. Enjoy well formatted comments.
                    </p>
                </div>
                <div class="col-sm-6 iphone-image scroll-apparence appear-from-bottom">
                    <img src="img/discussionThread.png" data-rjs="3">
                </div>
                
                
            </div>
        </div>
    </section>

    <section id="reader-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 col-sm-push-5 section-description">
                    <img src="img/reader-actions.svg" alt="Actions" class="hidden-xs" style="height: 60px; width:auto;">
                    <h2>
                        Customisable reader
                    </h2>
                    <p>
                        Activate the reader to take control over the font size, style and theme of each article.
                    </p>
                </div>

                <div class="col-sm-4 col-sm-offset-1 col-sm-pull-6 iphone-image scroll-apparence appear-from-left">
                    <img src="img/reader.png" data-rjs="3">
                </div>
                
                
            </div>
        </div>
    </section>


    <section id="features-section">
        <div class="container">
            
            <div class="row">
                <h2 class="header-text text-center">Features</h2>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="icon-night"></i>
                        </div>
                        <div class="text">
                            <h4>Light & Dark themes</h4>
                            <p>Choose between two themes or let the app automatically pick one according to the time and brightness of your screen.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="icon-free"></i>
                        </div>
                        <h4>Free</h4>
                        <p>HNBuddy is entirely free of cost and ads.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="icon-secure"></i>
                        </div>
                        <h4>Secure</h4>
                        <p>Credentials are only used to log you in to Hacker News and are not shared with any third-party. The entire sign-in process is open source and documented <a href="https://github.com/tsucres/HNScraper">here</a>.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="icon-speed"></i>
                        </div>
                        <h4>Fast</h4>
                        <p>Optimized to load and render content smoothly.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="icon-easy"></i>
                        </div>
                        <h4>Simple & Intuitive</h4>
                        <p>Provides an intuitive and attractive UI.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials-section" class="parallax">
        <div class="container">
            <div class="row">
                <h2 class="header-text text-center">What people think</h2>
                <div class="col-sm-10 col-sm-offset-1 testimonial-list">
                    
                    <div role="tabpanel">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                                <div class="testimonial-image">
                                    <img src="img/testimonials/einstein.jpg" alt="t1" data-rjs="3">
                                </div>
                                <div class="testimonial-text">
                                    <p>
                                        "Only two things are infinite, the universe and the quality of this app."<br>
                                        <span>A. Einstein</span>
                                    </p>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab2">
                                <div class="testimonial-image">
                                    <img src="img/testimonials/beer-guy.jpg" alt="t2" data-rjs="3">
                                </div>
                                <div class="testimonial-text">
                                    <p>
                                        "I don't always browse Hacker News, but when I do it's with HNBuddy."<br>
                                        <span>That guy with the beer</span>
                                    </p>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab3">
                                <div class="testimonial-image">
                                    <img src="img/testimonials/jobs.jpg" alt="t3" data-rjs="3">
                                </div>
                                <div class="testimonial-text">
                                    <p>
                                        "This app is the reason the iPhone was created."<br>
                                         <span>S. Jobs</span>
                                    </p>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab4">
                                <div class="testimonial-image">
                                    <img src="img/testimonials/caesar.jpg" data-rjs="3" alt="t4">
                                </div>
                                <div class="testimonial-text">
                                    <p>
                                        "L xvh wklv dss hyhubgdb, dqg L oryh lw!"<br>
                                        <span>J. Caesar</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
                            </li>
                            <li role="presentation">
                                <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
                            </li>
                            <li role="presentation">
                                <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
                            </li>
                            <li role="presentation">
                                <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-img"></div>
    </section>

    <section id="cat-section" class="progressive-bg-image">
        <!-- Progressive load of bg img -->
        <noscript><img class="full-absolute" src="img/cat.jpg"></noscript>
        <img class="hidden thumbnail" src="img/cat_mini.jpg"> <!-- TODO: b64 -->
        <img class="full-bg-image hidden" src="img/cat.jpg">
        <canvas class="full-absolute progressive-img-load-canvas"></canvas>
        <!-- ===== -->
        <div class="container">
            <div class="row text-center">
                <h2>Still not convinced? Here's a cat</h2>
                <p>It might not change your mind, but there will be at least one thing you enjoy on this page.</p>
                <div class="col-sm-12 text-center">
                    <p class="img-source">source: freegreatpicture.com</p>
                </div>
                
            </div>
        </div>
    </section>

    <section id="ap-slideshow">
        <div class="container">
            <div class="row text-center">
                <h2>Get it now!</h2>
                <a href="https://itunes.apple.com/us/app/hnbuddy-hackernews-client/id1312439587?mt=8" target="_blank"><img src="img/appstore-button.png" data-rjs="3"></a>
            <div class="row scroll">
                <div class="screenshot-container">
                <img src="img/appstore/home1.jpg" data-rjs="3">
                <img src="img/appstore/home2.jpg" data-rjs="3">
                <img src="img/appstore/reader.jpg" data-rjs="3">
                <img src="img/appstore/lists.jpg" data-rjs="3">
                <img src="img/appstore/discussion.jpg" data-rjs="3">
            </div>
            </div>
        </div>
    </section>

    {% include "templates/footer.html" %}
{% endblock %}
{% block endJs %}
        <script type="text/javascript" src="js/retina.min.js"></script>
        <script type="text/javascript" src="js/progressive-bg.js"></script>
        <script src="js/parallax-background.min.js"></script>
        <script type="text/javascript">
            // https://code.tutsplus.com/tutorials/a-simple-parallax-scrolling-technique--net-27641
            $(document).ready(function(){
                $('.parallax').parallaxBackground({
                  'image': '.parallax-img'
                });

                listsSection = $("#lists-section");
                commentSectionEl = $("#comments-section");
                readerSectionEl = $("#reader-section");
                $(window).scroll(function(){
                    var windowScrollTop = $(this).scrollTop();
                    var windowHeight = $(this).height();
                    if(windowScrollTop > listsSection.position().top - 0.8*windowHeight){
                        $("#lists-section").find(".appear-from-bottom").each(
                            function() {
                                $(this).animate({opacity:1},700);
                                $(this).removeClass("appear-from-bottom");
                            }
                        );
                    }
                    if(windowScrollTop > commentSectionEl.position().top - 0.8*windowHeight){
                        $("#comments-section").find(".appear-from-bottom").each(
                            function() {
                                $(this).animate({opacity:1},700);
                                $(this).removeClass("appear-from-bottom");
                            }
                        );
                    }
                    if(windowScrollTop > readerSectionEl.position().top - 0.8*windowHeight){
                        $("#reader-section").find(".appear-from-left").each(
                            function() {
                                $(this).animate({opacity:1},700);
                                $(this).removeClass("appear-from-left");
                            }
                        );
                    }
                });
                $(window).scroll();
            });


            </script>

        {% include "templates/helloThere.html" %}  

        {% endblock %}

